html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
ul{
  height: 100%;
}
li{
  text-decoration: none;
}
.horizontal-list {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
  font-size:0;
　　line-height:0;
color: #fff;

  .list {
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    white-space: normal;

    img {
      height: 100%;
      margin: 0;
      padding: 0;
      width: 40vw;
      object-fit: cover;
    }

    .left-bottom {
      object-position: 0 100%;
    }
  }
}

.text {
  width: 70%;

  position: absolute;
  bottom: 10%;
  left: 10%;
  text-align: left;
  transition: all 1s;
}

.title {
  font-size: 3rem;
  line-height: 0.2rem;
  transition: all 1s;
}

.sub {
  font-size: 1rem;
  line-height: 0.01rem;
}
.description{
  width: 100%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  font-size: 1rem;
  line-height: 1rem;
  transition: all 2s;
  p{
    margin: 0;
  }
}

.block:hover .description{
    max-height: 300px;
    opacity: 1;
  }
